pdfminer.six==20221105
jsonschema-specifications==2023.12.1
xarray==2022.11.0
xyzservices==2022.9.0
regex==2022.8.17
tifffile==2022.8.12
dask==2022.8.1
fsspec==2022.7.1
pytz==2022.7
setuptools==65.6.3
cryptography==37.0.4
pyzmq==25.1.1
pip==25.0.1
keyring==23.8.2
attrs==23.2.0
packaging==23.2
black==22.6.0
cattrs==22.2.0
argon2-cffi==21.3.0
gunicorn==21.2.0
argon2-cffi-bindings==21.2.0
isoduration==20.11.0
polyglot==16.7.4
libclang==14.0.6
dropbox==11.36.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
pillow==9.2.0
websockets==9.1
more-itertools==9.0.0
ipython==8.12.3
nvidia-cudnn-cu11==8.5.0.96
tenacity==8.2.3
thinc==8.1.12
click==8.1.3
ipywidgets==8.0.1
python-slugify==8.0.1
overrides==7.7.0
jupyter-client==7.4.7
nbconvert==7.2.5
pytest==7.1.2
pyarrow==7.0.0
ipykernel==6.15.1
colorlog==6.8.2
importlib-metadata==6.8.0
notebook==6.4.12
smart-open==6.4.0
tornado==6.2
python-box==6.1.0
multidict==6.0.2
pyyaml==6.0.1
web3==5.31.0
traitlets==5.13.0
gspread==5.10.0
plotly==5.10.0
importlib-resources==5.10.0
psutil==5.9.4
ujson==5.8.0
nbformat==5.7.0
diskcache==5.6.3
jupyter-core==5.5.0
altair==5.3.0
cachetools==5.2.0
tokenize-rt==5.2.0
decorator==5.1.1
jsonrpcserver==5.0.9
docker==5.0.3
bleach==5.0.1
dash-table==5.0.0
smmap==5.0.0
tqdm==4.64.0
fonttools==4.37.1
transformers==4.29.0
jsonschema==4.22.0
pypdfium2==4.19.0
typing-extensions==4.12.2
beautifulsoup4==4.11.1
lxml==4.9.1
pexpect==4.8.0
rsa==4.7.2
gdown==4.6.0
redis==4.3.4
gensim==4.3.2
ephem==4.1.3
keyrings.alt==4.1.1
gitdb==4.0.9
async-timeout==4.0.2
line-profiler==4.0.2
widgetsnbextension==4.0.2
progressbar2==4.0.0
slack-sdk==3.21.3
protobuf==3.19.4
pycryptodome==3.19.0
ply==3.11
orjson==3.9.5
aiohttp==3.8.1
zipp==3.8.1
filelock==3.8.0
h5py==3.7.0
nltk==3.7
tables==3.7.0
matplotlib==3.6.3
gremlinpython==3.6.1
optuna==3.6.1
spacy==3.6.1
anyio==3.6.1
en-core-web-sm==3.6.0
mashumaro==3.6
markdown==3.4.1
lightgbm==3.3.3
python-utils==3.3.3
secretstorage==3.3.3
pyldavis==3.3.1
pyproj==3.3.1
pyspark==3.3.1
stone==3.3.1
langcodes==3.3.0
opt-einsum==3.3.0
palettable==3.3.0
xxhash==3.3.0
scs==3.2.4.post1
oauthlib==3.2.0
gitpython==3.1.27
aenum==3.1.11
jinja2==3.1.2
bokeh==3.1.1
cython==3.1.0
threadpoolctl==3.1.0
prompt-toolkit==3.0.30
spacy-legacy==3.0.12
openpyxl==3.0.10
pyparsing==3.0.9
preshed==3.0.8
pycaret==3.0.4
wurlitzer==3.0.3
jupyterlab-widgets==3.0.2
jsonpickle==3.0.1
requests==2.31.0
imageio==2.21.1
pycparser==2.21
fastjsonschema==2.16.2
awswrangler==2.16.1
jupyter-server==2.14.1
pyathena==2.14.0
dash==2.13.0
pygments==2.13.0
pyprind==2.11.3
pybind11==2.11.1
pycodestyle==2.11.1
google-auth==2.11.0
babel==2.10.3
datasets==2.10.1
psycopg2-binary==2.9.7
psycopg2==2.9.3
tensorflow-cpu==2.9.3
tensorboard==2.9.1
keras==2.9.0
tensorflow-estimator==2.9.0
networkx==2.8.6
bitarray==2.8.3
numexpr==2.8.3
python-dateutil==2.8.2
mlflow==2.8.1
category-encoders==2.6.2
platformdirs==2.5.2
munch==2.5.0
srsly==2.4.7
mapclassify==2.4.3
convertdate==2.4.0
parsedatetime==2.4
jsonpointer==2.4
frozendict==2.3.4
papermill==2.3.3
soupsieve==2.3.2.post1
affine==2.3.1
pyshp==2.3.1
eth-typing==2.3.0
geopy==2.3.0
jupyter-lsp==2.2.5
hijri-converter==2.2.4
sas7bdat==2.2.3
flask==2.2.2
werkzeug==2.2.2
sentence-transformers==2.2.2
eth-abi==2.2.0
markdown-it-py==2.2.0
backoff==2.1.2
itsdangerous==2.1.2
base58==2.1.1
markupsafe==2.1.1
cloudpickle==2.1.0
deprecation==2.1.0
pyjwt==2.1.0
redshift-connector==2.0.909
ecos==2.0.12
charset-normalizer==2.0.12
catalogue==2.0.9
asttokens==2.0.8
cymem==2.0.7
python-json-logger==2.0.7
autopep8==2.0.4
mistune==2.0.4
onelogin==2.0.4
pmdarima==2.0.3
rlp==2.0.1
xlrd==2.0.1
tomli==2.0.1
dash-core-components==2.0.0
dash-html-components==2.0.0
funcy==2.0
geographiclib==2.0
googleapis-common-protos==1.56.4
grpcio==1.47.0
openai==1.46.0
botocore==1.31.40
awscli==1.29.40
pg8000==1.29.1
boto3==1.28.40
numpy==1.23.2
jupytext==1.15.2
cffi==1.15.1
wrapt==1.14.1
torch==1.13.0
webcolors==1.13
alembic==1.12.1
flatbuffers==1.12
py==1.11.0
sympy==1.11
pydantic==1.10.12
backtrader==1.9.78.123
eth-utils==1.9.5
wordcloud==1.9.2
distro==1.9.0
scipy==1.9.0
python-lsp-server==1.9.0
fiona==1.8.21
shapely==1.8.4
send2trash==1.8.2
tensorboard-plugin-wit==1.8.1
yarl==1.8.1
ansi2html==1.8.0
websocket-client==1.8.0
ppft==1.7.6.7
pysocks==1.7.1
agate==1.7.0
astunparse==1.6.3
debugpy==1.6.3
xgboost==1.6.2
pyportfolioopt==1.5.5
nest-asyncio==1.5.5
logbook==1.5.3
jsonpath-ng==1.5.3
cached-property==1.5.2
dbt-duckdb==1.5.2
torchmetrics==1.5.2
asn1crypto==1.5.1
pandas==1.5.1
fqdn==1.5.1
dbt-core==1.5.0
dbt-postgres==1.5.0
yellowbrick==1.5
pandocfilters==1.5.0
sqlalchemy==1.4.40
snuggs==1.4.7
appdirs==1.4.4
kiwisolver==1.4.4
url-normalize==1.4.3
cvxpy==1.4.1
scramp==1.4.1
dbt-sqlite==1.4.0
pkgutil-resolve-name==1.3.10
rasterio==1.3.4
retrying==1.3.4
deap==1.3.3
joblib==1.3.2
p2j==1.3.2
frozenlist==1.3.1
requests-oauthlib==1.3.1
mako==1.3.0
pywavelets==1.3.0
lru-dict==1.3.0
partd==1.3.0
text-unidecode==1.3
uri-template==1.3.0
deprecated==1.2.13
querystring-parser==1.2.4
fuzzy==1.2.2
scikit-learn==1.2.2
arrow==1.2.2
mercantile==1.2.1
mpmath==1.2.1
absl-py==1.2.0
aiosignal==1.2.0
contextily==1.2.0
setuptools-git==1.2
sniffio==1.2.0
enum34==1.1.10
pytimeparse==1.1.8
greenlet==1.1.3
tbats==1.1.3
keras-preprocessing==1.1.2
requests-aws4auth==1.1.2
stopit==1.1.2
wasabi==1.1.2
python-lsp-jsonrpc==1.1.2
click-plugins==1.1.1
iniconfig==1.1.1
prophet==1.1.1
tinycss2==1.1.1
et-xmlfile==1.1.0
html5lib==1.1
opensearch-py==1.1.0
pyod==1.1.0
termcolor==1.1.0
murmurhash==1.0.9
cmdstanpy==1.0.8
catboost==1.0.6
contourpy==1.0.6
httpcore==1.0.5
msgpack==1.0.5
spacy-loggers==1.0.5
pymysql==1.0.2
varint==1.0.2
jmespath==1.0.1
locket==1.0.0
python-dotenv==1.0.0
pluggy==1.0.0
exceptiongroup==1.0.0rc8
multiprocess==0.70.13
numba==0.57.1
shap==0.41.0
llvmlite==0.40.1
wheel==0.38.4
referencing==0.35.1
lasio==0.30
httpx==0.27.0
tensorflow-io-gcs-filesystem==0.26.0
accelerate==0.22.0
sktime==0.22.0
pint==0.21.1
cartopy==0.21.0
graphviz==0.20.1
rpds-py==0.20.0
polars==0.19.16
scikit-image==0.19.3
thefuzz==0.19.0
future==0.18.2
jedi==0.18.1
fuzzywuzzy==0.18.0
update-checker==0.18.0
databricks-cli==0.17.6
textblob==0.17.1
holidays==0.17
docutils==0.16
bertopic==0.15.0
recordlinkage==0.15
schemdraw==0.15
terminado==0.15.0
prometheus-client==0.14.1
diffusers==0.14.0
h11==0.14.0
statsmodels==0.14.0
torchvision==0.14.0
ipytest==0.13.3
tokenizers==0.13.2
seaborn==0.13.0
docstring-to-markdown==0.13
cytoolz==0.12.2
folium==0.12.1.post1
causalnex==0.12.1
pyts==0.12.0
toolz==0.12.0
lightning-utilities==0.11.9
tpot==0.11.7
geopandas==0.11.1
cycler==0.11.0
huggingface-hub==0.11.0
soundfile==0.11.0
responses==0.10.15
py4j==0.10.9.5
pathy==0.10.2
pdfplumber==0.10.2
toml==0.10.2
plotnine==0.10.1
executing==0.10.0
pandas-datareader==0.10.0
jupyter-events==0.10.0
requests-cache==0.9.7
ipympl==0.9.2
duckdb==0.9.2
textwrap3==0.9.2
imbalanced-learn==0.9.1
plotly-resampler==0.9.1
jellyfish==0.9.0
netaddr==0.9.0
typer==0.9.0
typing-inspect==0.9.0
pathspec==0.9.0
hdbscan==0.8.40
sqlalchemy-redshift==0.8.11
tabulate==0.8.10
ansiwrap==0.8.4
parso==0.8.3
mizani==0.8.1
parsimonious==0.8.1
stdlib-list==0.8.0
jeepney==0.8.0
ipfshttpclient==0.8.0a2
blis==0.7.10
pickleshare==0.7.5
nxviz==0.7.4
pandasql==0.7.3
cligj==0.7.2
defusedxml==0.7.1
jupyter-contrib-nbextensions==0.7.0
nbclient==0.7.0
ptyprocess==0.7.0
dateutils==0.6.12
wand==0.6.10
osqp==0.6.3
oslash==0.6.3
ruff==0.6.2
isodate==0.6.1
jupyter-nbextensions-configurator==0.6.1
pandas-ml==0.6.1
tensorboard-data-server==0.6.1
clarabel==0.6.0
nbstripout==0.6.0
s3transfer==0.6.0
pymeeus==0.5.11
eth-account==0.5.9
pynndescent==0.5.8
pingouin==0.5.3
umap-learn==0.5.3
eth-hash==0.5.2
patsy==0.5.2
eth-keyfile==0.5.1
geoplot==0.5.1
missingno==0.5.1
scikit-base==0.5.1
webencodings==0.5.1
branca==0.5.0
jiter==0.5.0
jsonify==0.5
ta-lib==0.4.24
pyasn1==0.4.8
google-auth-oauthlib==0.4.6
colorama==0.4.4
jupyter-server-terminals==0.4.4
mypy-extensions==0.4.3
sqlparse==0.4.3
jupyter-contrib-core==0.4.2
dbt-extractor==0.4.1
fire==0.4.0
gast==0.4.0
stack-data==0.4.0
entrypoints==0.4
pytesseract==0.3.10
llama-cpp-python==0.3.7
scikit-plot==0.3.7
ffn==0.3.6
dill==0.3.5.1
eth-keys==0.3.4
leather==0.3.4
pox==0.3.3
pyvis==0.3.2
hexbytes==0.3.1
korean-lunar-calendar==0.3.1
pandas-flavor==0.3.0
siuba==0.3.0
mdit-py-plugins==0.3.0
yfinance==0.2.28
bt==0.2.9
pathos==0.2.9
pyasn1-modules==0.2.8
wcwidth==0.2.5
littleutils==0.2.2
outdated==0.2.2
pure-eval==0.2.2
jupyterlab-pygments==0.2.2
protobackend==0.2.2
backports.zoneinfo==0.2.1
eth-rlp==0.2.1
kaleido==0.2.1
lime==0.2.0.1
backcall==0.2.0
ffmpeg-python==0.2.0
google-pasta==0.2.0
ipython-genutils==0.2.0
jupyter-highlight-selected-word==0.2.0
sentencepiece==0.1.97
pgmpy==0.1.19
onelogin-aws-cli==0.1.17
jinjasql==0.1.9
qdldl==0.1.7.post0
matplotlib-inline==0.1.6
pygwalker==0.1.4.8
rfc3339-validator==0.1.4
confection==0.1.3
tsdownsample==0.1.2
mdurl==0.1.2
rfc3986-validator==0.1.1
dcdcpy==0.1.0
lazy-loader==0.1rc2
quantstats==0.0.62
hologram==0.0.16
multitasking==0.0.11
trace-updater==0.0.9.1
lunarcalendar==0.0.9
multiaddr==0.0.9
slicer==0.0.7
minimal-snowplow-tracker==0.0.2
dbconnect==0.0.1
fstring-magic==0.0.1
sklearn==0.0.post11
ubuntu-pro-client==8001
certifi==2019.11.28
supervisor==4.1.0
pygobject==3.36.0
chardet==3.0.4
gdal==3.0.4
idna==2.8
python-apt==2.0.1+ubuntu0.20.4.1
urllib3==1.25.8
six==1.14.0
dbus-python==1.2.16
olefile==0.46
distro-info==0.23+ubuntu1.1
requests-unixsocket==0.2.0
python-debian==0.1.36+ubuntu1.1
unattended-upgrades==0.1
